body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
h1 {
  font-size: 36px;
  margin: 2rem 0;
  text-align: center;
  color: #66310d;
}


form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: 400px;
  height: auto;
  margin: 8rem auto;
  padding: 2rem;
  background-image: url(../public/yellow-orange-background.png);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  border-radius: 5px;
  
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 16px;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 89%;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  background-color: rgb(75, 28, 28);
  box-shadow: 0 0 5px  rgb(44, 16, 16);
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background-color: rgb(53, 20, 20);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(44, 16, 16);
  opacity: 0.5;
  outline: none;
}
.btn-box{
  display: flex;
  justify-content: center;
  
}
.btn-box-login{
  margin: 1rem;

}
.btn-box-register{
  margin: 1rem;

}
 .btn-login,.btn-register{
  padding: 1rem;
  margin-top: 1rem;
  background-color: #66310d;
  color: white;
  font-size: 16px;
 
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 1;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn-login:hover {
  background-color: #2e1005;
 
  opacity: 1;
}
.btn-register:hover {
  background-color: #2e1005;
 
  opacity: 1;
}
